<!-- <div ng-repeat="post in posts.list" class="list-group">
  <div class="post list-group-item">
  	<a ng-click="posts.selectPost(post)"><h4>{{post.title}}</h4></a>
	<p>{{ post.content | cutter:10 }}...</p>
  	<span>by {{post.author}}</span>
  </div>
</div>
<button ng-click="posts.addPost()">New post</button> -->
<div class="posts">
	<div class="row">
	  <div ng-repeat="post in posts.list" class="post well col-xs-6 col-sm-4 col-md-3 col-lg-2">
	  	<a ng-click="posts.selectPost(post)"><h4>{{post.title}}</h4></a>
		<p>{{ post.content | cutter:10 }}...</p>
	  	<small>by {{post.author}}</small>
	  </div>
	</div>
	<button ng-click="posts.addPost()" class="btn btn-default">New post</button>
</div>